 <section class="main__default main__default--bg1">
     <h2 class="main__default--heading">
         What's going on?
     </h2>
     <div class="main__default--content">
         <div class="graphbox__default">
             <div class="graph-default" id="bar-default"></div>
         </div>
         <div class="graphbox__default">
             <div class="graph-default" id="pie-default"></div>
         </div>
     </div>
 </section>