<section class="main__present">
    <h2 class="main__present-heading">
        Should You Panic?
    </h2>
    <div class="main__present-content">
        <div class="panic__form" id="panic-form">
            <form>
                <h4 class="symptoms">Symptoms that you have?</h4>
                <label>
                    <input type="checkbox" name="cough"> Cough
                </label>
                <label>
                    <input type="checkbox" name="fever"> Fever
                </label>
                <label>
                    <input type="checkbox" name="tired"> Tiredness
                </label>
                <label>
                    <input type="checkbox" name="breathe"> Difficulty Breathing
                </label>
                <h4 class="since">Since When?</h4>
                <input type="number" name="since" class="since" max="10" placeholder="number of days...">
                <button>Done</button>
            </form>
        </div>
        <div class="panic__space"></div>
        <div class="panic__results">
            <p class="before">What shall you do?</p>
            <p id="result"></p>
        </div>
        <div class="panic__space"></div>
        <div class="panic__defaults">
            <h2>Do The Five 🖐</h2>
            <ul class="five__steps">
                <li>Wash them often &nbsp; <strong> HANDS</strong> </li>
                <li>Cough into it &nbsp;<strong> ELBOW</strong></li>
                <li>Don't touch it &nbsp;<strong> FACE</strong></li>
                <li>Keep safe distance &nbsp;<strong> SPACE</strong></li>
                <li>Stay if you can &nbsp;<strong> HOME</strong></li>
            </ul>
        </div>

    </div>
</section>