<footer class="footer footer--bg2">
    <h2 class="footer__heading">
        Let Us Know
    </h2>
    <div class="footer__content">
        <div class="footer__content--left">
            <ul>
                <li><a href="#">Tour</a></li>
                <li><a href="#">Forums</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Mobile app</a></li>
            </ul>
        </div>
        <div class="footer__content--middle">
            <ul>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Developers</a></li>
                <li><a href="#">Become a partner</a></li>
                <li><a href="#">Beta Program</a></li>
                <li><a href="#">Work with us</a></li>
            </ul>
        </div>
        <div class="footer__content--right">
            <h3 class="footer__content--right-subscribe">
                Like it? Subscribe it.
            </h3>
            <form class="footer__content--right-mail" action="post">
                <input type="text" placeholder="Your Email Address" />
                <button type="submit">I'm In</button>
            </form>
        </div>
    </div>
</footer>