<header class="header">
    <nav class="nav">
        <ul>
            <li><a href="#">home</a></li>
            <li><a href="#">records</a></li>
            <li><a href="#">contact</a></li>
        </ul>
    </nav>
    <div class="heading">
        <div class="heading__primary heading__primary--top">
            Are You Safe?
        </div>
        <form id="search-form" class="heading__search">
            <input class="heading__search--place" type="text" name="search" placeholder="search everywhere..." />
            <button class="btn heading__search--btn" type="submit">
                Go
            </button>
        </form>
    </div>
</header>