<section class="main__result main__result--bg1">

    <h1 class="result__title">India</h1>
    <h6 class="result__timer">Last updated yesterday</h6>
    <div class="main__result--pre">
        <div class="graphbox">
            <div class="graph" id="bar-result"></div>
        </div>
        <div class="graphbox">
            <div class="graph" id="pie-result"></div>
        </div>
    </div>
</section>